{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-header">
        {{ object.title }}
      </div>
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                この投稿を本当に削除してもよろしいでしょうか?
            </div>
            <button type="submit" class="btn btn-primary btn-sm">削除</button>
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock content %}