{% extends 'base.html' %}
{% block title %}ホーム | {{ block.super }}{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid bg-mytheme">
    <div class="row align-items-center">
      <div class="col-md picture-padding">
        <img class="img-fluid" src="/static/mypicture/mainvisual_1.png" alt="">
      </div>
      <div class="col-md text-center">
        <p class="display-4 home-hedder">独学つらいですよね。</p>
        <p class="lead home-text">つらいのはあなただけではありません。そのつらさみんなで共有しよう！</p>
        <a href="{% url 'regist' %}" class="btn btn-light start-btn">今すぐ始める</a>

      </div>
    </div>
</div>
{% include "most_viewed.html" %}

{% endblock %}