{% extends 'base.html' %}
{% block title %}ユーザ詳細ページ | {{ block.super }}{% endblock %}
{% load static %}
{% block content %}
<div class = "back">
    {% comment %} <div class="background-blue">
        <div class='profile-margin'>
        <div id="user_status" >
        
            {% if user.icon %}
                <h1><img src="{{ user.icon.url }}" class="user-icon"><span class="profile-username">{{ user.username }}</span></h1>
            {% else %}
                <h1><img src="{% static 'mypicture/default.png' %}" class="user-icon"><span class="profile-username">{{ user.username }}</span></h1>
            {% endif %}
        
        </div>

        </div>
    </div> {% endcomment %}

    {% if user.background_image %}
    <div class="user-background-image" style="background-image: url({{ user.background_image.url}});">
    {% else %}
    <div class="user-background-image" style="background: rgb(141, 200, 211);">
    {% endif %}
    
        <div class='profile-margin'>
        <div id="user_status" >
        {% if user.icon %}
            <h1 class="user-user-name"><img src="{{ user.icon.url }}" class="user-icon"><span class="profile-username ">{{ user.username }}</span></h1>
        {% else %}
            <h1 class="user-user-name"><img src="{% static 'mypicture/default.png' %}" class="user-icon"><span class="profile-username">{{ user.username }}</span></h1>
        {% endif %}
        </div>

    
        </div>
    
    </div>

    <div class="container">
        <div class="row mypage-row">
            <!-- Blog Entries Column -->
            <div class="col-md-9 mt-3">
                {% if post_list %}
                    <h2 class="all-title subject">投稿一覧</h2>
                    {% for post in post_list %}
                    <div class="card mb-4">
                        <h4 class="card-header title-font">{{ post.title }}</h4>
                        <div class="card-body">
                        　　 <p class="text-muted">{% if user.icon %}<img src="{{ user.icon.url }}" class="user-icon2">{% else %}<img src="{% static 'mypicture/default.png' %}" class="user-icon2">{% endif %} {{user.username}}&nbsp;|&nbsp; {{ post.created_at}} </p>
                            <p class="card-text content-font">{{post.content|slice:":200" }}</p>
                            <p class="card-text text-muted category-font">{{ post.category}} | {{ post.tags}} </p>
                            <a href="{% url 'user:post_detail' post.id %}" class="btn btn-primary pull-left">読む/コメントする &rarr;</a>

                                {% csrf_token %}


                                <span class="like-count" id="like_count">(いいね数)：{{post.like_count}}</span>
                                <span class="views-count" id="views">(閲覧数)：{{post.views}}</span>




                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-10 card pt-3" id="no-post">
                        <div class="alert alert-warning">{{user.username}}さんは、まだ投稿がありません。</div>
                    </div>
                {% endif %}
                {% include "pagination.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block footer %}
{% endblock footer %}