
<style>

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<h1>人気投稿(※閲覧数順)</h1>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.created_at}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <p class="card-text text-muted h6">{{ post.category}} </p><p class="card-text text-muted h6">{{ post.tags}} </p>
                    <a href="{% url 'user:post_detail' post.id %}" class="btn btn-primary pull-left">読む/コメントする &rarr;</a>
                    <span class="" id="like_count">いいね数：{{post.like_count}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
     $(document).on('click', '#like-button', function (e) {
        e.preventDefault();
        $.ajax({
        type: 'POST',
        url: '{% url "user:likes" %}',
        data: {
            postid: $('#like-button').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success: function (json) {
            document.getElementById("like_count").innerHTML = json['result']
        },
        error: function (xhr, errmsg, err) {

        }
        });
    })
</script>