{% extends "base.html" %}
{% block title %}投稿検索ページ | {{ block.super }}{% endblock %}
{% block content %}

<p class="site-logo"><img class="sitelogo" style="max-width:280x; height: 80px; margin-top: 170px;"src="/static/mypicture/sitelogo.png" alt="サイトロゴ" title="サイトロゴ"></p>

<form class="form-box" id="form1" action="{% url 'user:search_detail' %}" method="GET">

<section class="site_filter">
        <div class="container-fluid">
            <div class="col-sm-3 col-3">
                    <div class="form-group">
                        <select class="form-control" id="sort_by1" name='order_by_name'>
                            <option selected="true"
                            disabled="disabled" value = "none">並び替え</option>
                            <option value='1'>閲覧数順</option>
                            <option value='2'>いいね順</option>
                            <option value='3'>作成日順</option>
                        </select>
                    </div>
                </div>
        </div>
</section>

  <input class="form-control" id="sbox1" type="search" name="q" value="{{ request.GET.q }}" placeholder="キーワードを入力" aria-label="Search">

  <button class="form-button" id="sbtn1" type="submit"><i class="fas fa-search"></i></button> 

</form>

{% endblock %}