{% extends "base.html" %}
{% block title %}検索詳細 | {{ block.super }}{% endblock %}
{% load static %}
{% block content %}
<form class="form-box" id="form2" action="{% url 'user:search_detail' %}" method="GET">

<section class="site_filter">
        <div class="container-fluid">
            <div class="col-sm-3 col-3">
                    <div class="form-group">
                        <select class="form-control" id="sort_by2" name='order_by_name'>
                            <option selected="true"
                            disabled="disabled" value = "none">並び替え</option>
                            <option value='1'>閲覧数順</option>
                            <option value='2'>いいね順</option>
                            <option value='3'>作成日順</option>
                        </select>
                    </div>
                </div>
        </div>
</section>

  <input class="form-control" id="sbox2" type="search" name="q" value="{{ request.GET.q }}" placeholder="キーワードを入力" aria-label="Search">

  <button class="form-button" id="sbtn2" type="submit"><i class="fas fa-search"></i></button> 

</form>

<div class="container">
  <div class="row">
    <main class="col-md-9 mt-5">
　　　 {% if query %}
        <h1 class="all-title query-title mb-4">
        「{{ query }}」の検索結果
        </h1>
          <p class="all-title  text-right">{{ page_obj.start_index }}-{{ page_obj.end_index }}件（{{ paginator.count }}件）</p>
          {% if post_list%}
            {% for post in post_list %}
                    <div class="card mb-5">
                        <h4 class="card-header title-font">{{ post.title }}</h4>
                        <div class="card-body">
                        　　 <p class="text-muted">{% if post.post_user.icon %}<img src="{{ post.post_user.icon.url }}" class="user-icon2">{% else %}<img src="{% static 'mypicture/default.png' %}" class="user-icon2">{% endif %} <a href="{% url 'user:individualpage' post.post_user.id%}" class="text-muted">{{post.post_user.username}}</a>&nbsp;|&nbsp; {{ post.created_at}} </p>
                            <p class="card-text content-font">{{post.content|slice:":200" }}</p>
                            <p class="card-text text-muted category-font">{{ post.category}} | {{ post.tags}} </p>
                            <a href="{% url 'user:post_detail' post.id %}" class="btn btn-primary pull-left">読む/コメントする &rarr;</a>
                                {% csrf_token %}
                                <span class="like-count" id="like_count">(いいね数)：{{post.like_count}}</span>
                                <span class="views-count" id="views">(閲覧数)：{{post.views}}</span>
                        </div>
                    </div>

            {% endfor %}
            {% include "pagination.html" %}
          {% else %}
            <p class='search-zero'>検索結果が0件です</p>
          {% endif %}
      {% else %}
          <h1>「　」の検索結果</h1>
          <p class="no-query">検索欄が空欄です。<br>キーワードを入力してください。</p>
      {% endif%}







    </main>
  </div>
</div>

<script>

    $(document).on('click', '#like-button', function (e) {
        e.preventDefault();
        $.ajax({
        type: 'POST',
        url: '{% url "user:likes" %}',
        data: {
            postid: $('#like-button').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success: function (json) {
            document.getElementById("like_count").innerHTML = json['result']
        },
        error: function (xhr, errmsg, err) {

        }
        });
    })


</script>
{% endblock content %}